#banner
{
    background-image: url(../images/coffee.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    margin-top: 3.5rem;
}
.title
{
    color: #FA8072;
    font-weight: bold;
}
.type
{
    float: left;
    margin-left: 5rem;
}